// 默认变量
:root {
  --fill-1: #eee;
  --text: #f10808;
  --text-1: #aa4c0b;
  --text-2: #622909;

  --font-size-large: 18px;
  --font-size-large-x: 22px;
  --font-size-medium: 14px;
  --font-size-medium-x: 16px;
  --font-size-small-s: 10px;
  --font-size-small: 12px;
}
// 深色变量
[data-theme="dark"] {
  --fill-1: #222;
  --text: #ffcd32;
  --text-1: #aaaa28;
  --text-2: #e9e974;
}
